<section class="vh-100">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

                <div class="input-group rounded mb-3">
                    <input type="search" name="city" class="form-control rounded" placeholder="City" aria-label="Search"
                        aria-describedby="search-addon" [(ngModel)]="city" />
                    <a href="#!" type="button" (click)="onCheck()">
                        <span class="input-group-text border-0 fw-bold" id="search-addon">
                            Check!
                        </span>
                    </a>
                </div>

                <div class="card shadow-0 border">
                    <div class="card-body p-4">

                        <h4 class="mb-1 sfw-normal">{{cityName}}, {{country}}</h4>
                        <p class="mb-2">Current temperature: <strong>{{temp}} K</strong></p>
                        <p>Feels like: <strong>{{feels_like}} K</strong></p>
                        <p>Max: <strong>{{temp_max}} K</strong>, Min: <strong>{{temp_min}} K</strong></p>
                        <p>Humidity: <strong>{{humidity}} %</strong></p>
                        <p>Pressure: <strong>{{pressure}}</strong></p>
                        <p>Wind Speed: <strong>{{windSpeed}} km/h</strong></p>
                        <div class="d-flex flex-row align-items-center">
                            <p class="mb-0 me-4">{{weather}}</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>